:root {
  --container-padding: 24px;
}

:root[data-theme="light"] {
  --green: #66e2dc;
  --tomato: #fa7453;
  --orange: #ffb964;
  --white: #fcfaf9;
  --black: #191826;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--white);
  background-image: url("../img/body-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: right top;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1190px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* LOGO */
.logo {
  flex-shrink: 0;
  display: block;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 146px;
  height: 32px;
  object-fit: contain;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:active {
  opacity: 0.6;
}

.button--dark {
  background-color: var(--black);
  color: var(--white);
}

.button--dark:hover {
  background-color: var(--green);
}

.button--light {
  background-color: var(--white);
  color: var(--black);
}

.button--light:hover {
  background-color: var(--orange);
}

.button--block {
  display: block;
  width: 100%;
}

.button__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px 14px;
  border: 0;
}

.button__icon {
  margin-right: 8px;
}


/* SOCIALS */
.socials__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials__item:not(:last-child) {
  margin-right: 20px;
}

.socials__link {
  display: block;
  color: var(--black);
}

.socials__link:hover {
  color: var(--tomato);
}

.socials__link:active {
  opacity: 0.6;
}

.socials__icon {
  display: block;
}



/* SITE-HEADER */
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}


/* HERO */
.hero {
  padding-top: 24px;
  padding-bottom: 24px;
}

.hero__content {
  width: 100%;
  max-width: 520px;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.455px;
}

.hero__text {
  margin: 0;
}


/* CTA */
.cta {
  padding-top: 44px;
}

.cta__container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta__bg-box {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 142px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  border-radius: 12px;
  background-color: var(--black);
}

.cta__bg-pattern {
  width: 280px;
  height: 420px;
}

.cta__phone-picture {
  position: relative;
  z-index: 1;
  display: block;
}

.cta__phone-img {
  position: relative;
  z-index: 1;
  display: block;
  width: 209px;
  height: 430px;
  margin-bottom: 48px;
}

.cta__info {
  position: relative;
  z-index: 1;
  padding: 48px 36px;
  margin-left: calc(var(--container-padding) * -1);
  margin-right: calc(var(--container-padding) * -1);
  border-radius: 12px;
  background-color: var(--tomato);
}

.cta__info-heading {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 40px;
  color: var(--white);
}

.cta__info-text {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
}

.cta__price-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  color: var(--white);
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.cta__price {
  margin-right: 16px;
  font-size: 65px;
  font-weight: bold;
  line-height: 52px;
}

.cta__button:not(:last-child) {
  margin-bottom: 16px;
}


/* SITE-FOOTER */
.site-footer {
  padding-top: 64px;
  padding-bottom: 80px;
}

.site-footer__logo {
  margin-bottom: 32px;
}

.site-footer__text {
  margin-top: 0;
  margin-bottom: 64px;
}

.site-footer__mailto-link {
  font-weight: bold;
  color: var(--black);
  text-decoration: none;
}

.site-footer__mailto-link:hover {
  color: var(--tomato);
}

.site-footer__mailto-link:active {
  opacity: 0.6;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}


@media only screen and (min-width: 375px) {
  .hero__heading {
    font-size: 40px;
    line-height: 48px;
  }
}

@media only screen and (min-width: 640px) {
  .cta {
    padding-top: 218px;
  }

  .cta__bg-box {
    top: 0;
    width: auto;
    left: var(--container-padding);
    right: var(--container-padding);
    overflow: hidden;
  }

  .cta__bg-pattern {
    margin-top: -32px;
  }

  .cta__phone-picture {
    position: absolute;
    z-index: 1;
    top: -140px;
    left: 97px;
    width: 270px;
    height: 556px;
  }

  .cta__phone-img {
    width: 270px;
    height: 556px;
    margin-bottom: 0;
  }

  .cta__info {
    max-width: 400px;
    padding: 48px;
    margin-top: 150px;
    margin-right: 58px;
    margin-left: auto;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --container-padding: 40px;
  }

  body {
    font-size: 18px;
    line-height: 28px;
    background-image:
      url("../img/bg-pattern-1.svg"),
      url("../img/body-bg-tablet.svg");
    background-position: right -36px top -32px, left top;
    background-size: 267px 400px, 100%;
  }

  .site-header {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .hero {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .hero__heading {
    margin-bottom: 28px;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.727px;
  }

  .site-footer__container {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 366px 1fr;
    grid-template-rows: auto auto;
    gap: 32px 24px;
  }

  .site-footer__logo {
    margin-bottom: 0;
  }

  .site-footer__text {
    margin-bottom: 0;
    grid-row: 2;
  }

  .site-footer__socials {
    grid-row: 2;
    justify-self: end;
  }
}

@media only screen and (min-width: 850px) {
  .hero__content {
    max-width: 70%;
  }
}

@media only screen and (min-width: 1190px) {
  body {
    font-size: 20px;
    line-height: 34px;
    background-image:
      url("../img/bg-pattern-1.svg"),
      url("../img/body-bg-desktop.svg");
    background-position: right 0 top -40px, left top;
    background-size: 312px 468px, 100%;
    /* TODO check body bg img */
  }

  .hero {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__heading {
    max-width: 1015px;
    margin-bottom: 40px;
    font-size: 88px;
    letter-spacing: -1;
  }

  .hero__text {
    max-width: 825px;
  }

  .cta__bg-box {
    justify-content: flex-start;
  }

  .cta__bg-pattern {
    margin-top: -40px;
    margin-left: 336px;
  }

  .cta__phone-picture {
    width: 312px;
    height: 642px;
    top: -213px;
  }

  .cta__phone-img {
    width: 312px;
    height: 642px;
  }

  .cta__info {
    max-width: 446px;
    padding: 58px 54px 48px;
  }

  .cta__info-heading {
    margin-bottom: 22px;
    font-size: 40px;
    line-height: 52px;
  }

  .cta__info-text {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 34px;
  }

  .cta__price {
    margin-bottom: 46px;
  }

  .site-footer__container {
    display: flex;
    align-items: flex-start;
    gap: 0;
  }

  .site-footer__logo {
    margin-right: 138px;
  }

  .site-footer__text {
    max-width: 366px;
    margin-right: auto;
  }

  .site-footer__socials {
    align-self: center;
  }
}
