:root {
  --container-padding: 24px;
}

:root[data-theme="light"] {
  --green: #66e2dc;
  --tomato: #fa7453;
  --orange: #ffb964;
  --white: #fcfaf9;
  --black: #191826;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--white);
  background-image: url("../img/body-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: right top;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1190px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* LOGO */
.logo {
  display: block;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 146px;
  height: 32px;
  object-fit: contain;
}


/* SITE-HEADER */
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}


/* HERO */
.hero {
  padding-top: 24px;
  padding-bottom: 24px;
}

.hero__content {
  width: 100%;
  max-width: 520px;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.455px;
}

.hero__text {
  margin: 0;
}

.cta {
}
.cta__container {
}
.cta__bg-box {
}
.cta__bg-pattern {
}
.cta__phone-picture {
}
.cta__phone-img {
}
.cta__info {
}
.cta__info-heading {
}
.cta__info-text {
}
.cta__price-wrapper {
}
.cta__price {
}
.button {
}
.button--dark {
}
.button--block {
}
.button__inner {
}
.button__icon {
}
.button__text {
}
.site-footer {
}
.site-footer__container {
}
.site-footer__text {
}
.socials {
}
.socials__list {
}
.socials__item {
}
.socials__link {
}
.socials__icon {
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}


@media only screen and (min-width: 375px) {
  .hero__heading {
    font-size: 40px;
    line-height: 48px;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --container-padding: 40px;
  }

  body {
    font-size: 18px;
    line-height: 28px;
    background-image:
      url("../img/bg-pattern-1.svg"),
      url("../img/body-bg-tablet.svg");
    background-position: right -36px top -32px, left top;
    background-size: 267px 400px, 100%;
  }

  .site-header {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .hero {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .hero__heading {
    margin-bottom: 28px;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.727px;
  }
}

@media only screen and (min-width: 850px) {
  .hero__content {
    max-width: 70%;
  }
}

@media only screen and (min-width: 1190px) {
  body {
    font-size: 20px;
    line-height: 34px;
    background-image:
      url("../img/bg-pattern-1.svg"),
      url("../img/body-bg-desktop.svg");
    background-position: right 0 top -40px, left top;
    background-size: 312px 468px, 100%;
    /* TODO check body bg img */
  }

  .hero {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__heading {
    max-width: 1015px;
    margin-bottom: 40px;
    font-size: 88px;
    letter-spacing: -1;
  }

  .hero__text {
    max-width: 825px;
  }
}
