:root[data-theme="light"] {
  --green: #66e2dc;
  --tomato: #fa7453;
  --orange: #ffb964;
  --white: #fcfaf9;
  --black: #191826;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--white);
  background-image: url("../img/body-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: right top;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1190px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* LOGO */
.logo {
  display: block;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 146px;
  height: 32px;
  object-fit: contain;
}


/* SITE-HEADER */
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}


@media only screen and (min-width: 768px) {
  body {
    background-image:
      url("../img/bg-pattern-1.svg"),
      url("../img/body-bg-tablet.svg");
    background-position: right -36px top -32px, left top;
    background-size: 267px 400px, 100%;
  }

  .site-header {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}

@media only screen and (min-width: 1190px) {
  body {
    background-image:
      url("../img/bg-pattern-1.svg"),
      url("../img/body-bg-desktop.svg");
    background-position: right 0 top -40px, left top;
    background-size: 312px 468px, 100%;
    /* TODO check body bg img */
  }
}
